* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  list-style: none;
  font-family: "Quicksand", sans-serif;
}

a:link, a:visited, a:active {
  text-decoration: none;
}

header {
  width: 100%;
  background-color: #f6f5dd;
}

.logo {
  background-color: #f6f5dd;
  padding: 5px;
}

.logo .logo__link .logo__link--posicion {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.fondonav {
  background-color: #43bda0;
  position: -webkit-sticky;
  position: sticky;
  top: 0px;
  z-index: 10;
}

.nav-fondonav {
  background-color: #43bda0;
}

footer {
  border-top: 3px solid #43bda0;
  background-color: #f6f5dd;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 20px;
}

.footer__contacto--modlogo1 {
  font-size: 30px;
  border: none;
  background-color: #f6f5dd;
  color: #43bda0;
}

.footer__contacto--modlogo2 {
  font-size: 30px;
  border: none;
  background-color: #f6f5dd;
  color: #43bda0;
}

.footer__contacto--modlogo3 {
  font-size: 30px;
  border: none;
  background-color: #f6f5dd;
  color: #43bda0;
}

.emprenimientos__listado--item {
  font-size: 13px;
  color: #43bda0;
}

/*------------------------------------------------------- Estilos de Index----------------------------------------------- */
body {
  width: 100%;
  margin: auto;
  background-color: #f6f5dd;
}

.main {
  padding-top: 10px;
  background-color: #f6f5dd;
  margin: auto;
}

.main .main__titulo--modtit {
  margin-top: 10px;
  text-align: center;
  color: white;
  background-color: #43bda0;
}

/* Seccion Banner */
.bannerhome {
  overflow: hidden;
}

.bannerhome .bannerhome__tarjeta--tit {
  color: white;
  text-align: center;
  background-color: #777a834d;
  width: 100%;
  height: 40px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.bannerhome .bannerhome__tarjeta--img {
  width: 100%;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.bannerhome .bannerhome__tarjeta--img2 {
  width: 100%;
  border-radius: 10px;
}

/* Seccion Nosotros */
.nos__titulo--modtit {
  text-align: center;
  color: white;
  background-color: #43bda0;
  margin: 0px;
}

.nos__contenedor .nos__contenedor--animacion {
  background-color: #43bda0;
  -webkit-clip-path: polygon(50% 0%, 70% 0, 70% 0, 70% 0, 70% 0, 50% 20%, 30% 0, 30% 0, 30% 0, 30% 0);
          clip-path: polygon(50% 0%, 70% 0, 70% 0, 70% 0, 70% 0, 50% 20%, 30% 0, 30% 0, 30% 0, 30% 0);
  width: 400px;
  height: 400px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-animation: vibracion 2s infinite;
          animation: vibracion 2s infinite;
}

.nos__contenedor .nos__contenedor--animacion a {
  text-decoration: none;
  color: white;
  font-size: 25px;
  border: 2px solid white;
  font-weight: 800;
  border-radius: 10px;
}

.nos__contenedor .nos__contenedor--animacion a:hover {
  background-color: white;
  color: #43bda0;
}

.nos__contenedor .nos__contenedor--animacion:hover {
  -webkit-animation: animadiv 3s 1 forwards;
          animation: animadiv 3s 1 forwards;
}

.nos__contenedor .nos__contenedor--modp {
  width: 60vw;
  padding: 10px;
  background-color: #f6f5dd;
  text-align: justify;
  font-size: 25px;
  color: #43bda0;
  font-weight: 700;
}

/* Seccion Redes */
.redesig__titulo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #43bda0;
  margin-top: 10px;
  margin-bottom: 10px;
}

.redesig__titulo git
.redesig__titulo--modtit {
  background-color: #43bda0;
  color: white;
  padding-left: 15px;
}

.redesig__titulo .redesig__logo--modlogo {
  width: 60px;
  height: 60px;
  background-color: #43bda0;
}

/* --------------------------------------------Estilos Productos------------------------------------------------------- */
.cuadernoA4 {
  background: url(../img/paginaProductos/CuadernoA4.jpg);
  background-position: center;
  background-size: 600px;
}

.cuadernoA5 {
  background: url(../img/paginaProductos/CuadernoA5.jpg);
  background-position: center;
  background-size: 600px;
}

.pizarra {
  background: url(../img/paginaProductos/libreria.jpg);
  background-position: center;
  background-size: 600px;
}

.producto {
  width: 100%;
  height: 80vh;
  margin-bottom: 10px;
  position: relative;
}

.contenedor {
  overflow: hidden;
  position: absolute;
  width: 600px;
  height: 600px;
  background-repeat: no-repeat;
  left: 50%;
  top: 10%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.contenedor::before {
  content: "";
  width: 100%;
  height: 300px;
  background-color: #777a834d;
  position: absolute;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  z-index: 7;
  bottom: 100%;
}

.contenedor::after {
  content: "";
  width: 100%;
  height: 300px;
  background-color: #777a834d;
  position: absolute;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  z-index: 7;
  right: 0%;
  top: 100%;
}

a:hover .contenedor::before {
  -webkit-transform: scale(1) translateY(100%);
          transform: scale(1) translateY(100%);
}

a:hover .contenedor::after {
  -webkit-transform: scale(1) translateY(-100%);
          transform: scale(1) translateY(-100%);
}

a:hover span {
  opacity: 1;
}

span {
  position: relative;
  top: 45%;
  left: 12%;
  z-index: 6;
  opacity: 0;
  color: white;
  font-size: 2rem;
  font-weight: bold;
  border: 2px solid white;
  z-index: 8;
  border-radius: 10px;
}

span:hover {
  background-color: #fff;
  color: #43bda0;
}

.producto__titulo {
  text-align: center;
  color: white;
  background-color: pink;
  width: 230px;
  position: absolute;
  left: 25%;
  top: 12%;
  z-index: 4;
  border-radius: 5px;
  -webkit-box-shadow: -4px 4px 11px 0px pink;
          box-shadow: -4px 4px 11px 0px pink;
}

.producto__titulo .producto__titulo--modtit {
  font-size: 25px;
}

.producto__imagen {
  position: absolute;
  left: 30%;
  bottom: 15%;
  z-index: 2;
  /* clip-path: polygon(0% 0%, 55% 25%, 100% 50%, 53% 78%, 0% 100%); */
}

.producto__descripcion {
  background-color: #43bda0;
  width: 300px;
  position: absolute;
  color: white;
  font-weight: 800;
  font-size: 25;
  right: 20%;
  top: 70%;
  border-radius: 5px;
  -webkit-box-shadow: -4px 4px 11px 0px #43bda0;
          box-shadow: -4px 4px 11px 0px #43bda0;
  z-index: 3;
}

/* -----------------------Animaciones---------------------------------------------------------------------------------- */
@-webkit-keyframes animadiv {
  0% {
    -webkit-clip-path: polygon(50% 0%, 70% 0, 70% 0, 70% 0, 70% 0, 50% 20%, 30% 0, 30% 0, 30% 0, 30% 0);
            clip-path: polygon(50% 0%, 70% 0, 70% 0, 70% 0, 70% 0, 50% 20%, 30% 0, 30% 0, 30% 0, 30% 0);
  }
  100% {
    -webkit-clip-path: polygon(50% 0%, 70% 0, 70% 30%, 70% 60%, 65% 100%, 50% 70%, 35% 100%, 30% 60%, 30% 30%, 30% 0);
            clip-path: polygon(50% 0%, 70% 0, 70% 30%, 70% 60%, 65% 100%, 50% 70%, 35% 100%, 30% 60%, 30% 30%, 30% 0);
  }
}
@keyframes animadiv {
  0% {
    -webkit-clip-path: polygon(50% 0%, 70% 0, 70% 0, 70% 0, 70% 0, 50% 20%, 30% 0, 30% 0, 30% 0, 30% 0);
            clip-path: polygon(50% 0%, 70% 0, 70% 0, 70% 0, 70% 0, 50% 20%, 30% 0, 30% 0, 30% 0, 30% 0);
  }
  100% {
    -webkit-clip-path: polygon(50% 0%, 70% 0, 70% 30%, 70% 60%, 65% 100%, 50% 70%, 35% 100%, 30% 60%, 30% 30%, 30% 0);
            clip-path: polygon(50% 0%, 70% 0, 70% 30%, 70% 60%, 65% 100%, 50% 70%, 35% 100%, 30% 60%, 30% 30%, 30% 0);
  }
}

@-webkit-keyframes vibracion {
  0% {
    -webkit-clip-path: polygon(50% 0%, 70% 0, 70% 0, 70% 0, 70% 0, 50% 20%, 30% 0, 30% 0, 30% 0, 30% 0);
            clip-path: polygon(50% 0%, 70% 0, 70% 0, 70% 0, 70% 0, 50% 20%, 30% 0, 30% 0, 30% 0, 30% 0);
  }
  50% {
    -webkit-clip-path: polygon(50% 0%, 100% 0, 100% 0, 70% 0, 50% 19%, 30% 0, 0 0, 0 0, 0 0);
            clip-path: polygon(50% 0%, 100% 0, 100% 0, 70% 0, 50% 19%, 30% 0, 0 0, 0 0, 0 0);
  }
  100% {
    -webkit-clip-path: polygon(50% 0%, 70% 0, 70% 0, 70% 0, 70% 0, 50% 20%, 30% 0, 30% 0, 30% 0, 30% 0);
            clip-path: polygon(50% 0%, 70% 0, 70% 0, 70% 0, 70% 0, 50% 20%, 30% 0, 30% 0, 30% 0, 30% 0);
  }
}

@keyframes vibracion {
  0% {
    -webkit-clip-path: polygon(50% 0%, 70% 0, 70% 0, 70% 0, 70% 0, 50% 20%, 30% 0, 30% 0, 30% 0, 30% 0);
            clip-path: polygon(50% 0%, 70% 0, 70% 0, 70% 0, 70% 0, 50% 20%, 30% 0, 30% 0, 30% 0, 30% 0);
  }
  50% {
    -webkit-clip-path: polygon(50% 0%, 100% 0, 100% 0, 70% 0, 50% 19%, 30% 0, 0 0, 0 0, 0 0);
            clip-path: polygon(50% 0%, 100% 0, 100% 0, 70% 0, 50% 19%, 30% 0, 0 0, 0 0, 0 0);
  }
  100% {
    -webkit-clip-path: polygon(50% 0%, 70% 0, 70% 0, 70% 0, 70% 0, 50% 20%, 30% 0, 30% 0, 30% 0, 30% 0);
            clip-path: polygon(50% 0%, 70% 0, 70% 0, 70% 0, 70% 0, 50% 20%, 30% 0, 30% 0, 30% 0, 30% 0);
  }
}

/* --------------------------------------------------------------- Responsive ------------------------------------------------------- */
/* Index */
@media (min-width: 767.98px) {
  .nos__contenedor--modp {
    font-size: 1rem;
  }
  .nos__contenedor--animacion {
    display: none;
  }
}
/*# sourceMappingURL=estilos.css.map */