header {
    width: 100%;
    background-color: $bgBody;
}
.logo {
    background-color: $bgBody;
    display: flex;
    justify-content: center;
    padding: 5px 0px ;
    margin: 0;
}

.menu__icon, .logoNav{
    display: none;
}
nav {
    background-color: $colorLogo;
    position: sticky;
    top: 0px;
    z-index: 10;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 3rem;
    .menu__btn {
        display: none;
    }
    .menu {
        display: flex;
        padding: 0px;
        align-items: center;
        margin-bottom: 0;
        a {
            font-size: 1,5rem;
            color: white;
            font-weight: 700;
        }
        .menu__item {
            margin-left: 20px;
            margin-right: 20px;
            color: white;
            box-shadow: white;
            width: 30%;
            position: relative;
            &::before {
                content: '';
                background-color: white;
                height: 2px;
                width: 0%;
                position: absolute;
                top: 1.5rem;
                transition: width 0.3s ease-out;
            }
            &:hover:before {
                width: 100%;
            }
        
        }
        .menu__desplegable {
            position: relative;
            a {
                display: flex;
                
            }
            .contenedorArrow {
                width: 16px;
                height: 16px;
                position: relative;
                top: 3.5px;
                left: 3px;
                transform: rotate(-90deg);
                transition: all 0.3s ease-in;
                .arrow {
                    display: inline;
                }
            }
            
           
            &:hover .contenedorArrow {
                transform: rotate(0deg);
                top: 0;
            }
            .menu__submenu {
                width: 140%;
                position: absolute;
                background-color: $colorLogo;
                display: none;
                padding: 4px;
                top: 26px;
                .menu__submenu--item {
                    position: relative;
                    margin-top: 1rem;
                    text-align: start;
                    width: 90%;
                    &::before {
                        content: '';
                        background-color: white;
                        height: 2px;
                        width: 0%;
                        position: absolute;
                        top: 1.5rem;
                        transition: width 0.3s ease-out;
                    }
                    &:hover:before {
                        width: 100%;
                    }
                }
            }
        }
        
        .menu__desplegable:hover .menu__submenu{
            display: block;
        }
    }
}
@media screen and (min-width:426px) and (max-width:769px){
    body {
        font-size: 14px;
    }
    .menu__btn, .logoNav, .menu__icon {
        display: block;
    }
    .logo, .menu__icon  {
        display: none;
        position: absolute;
    }
    .arrow {
        opacity: 0;
    }
    nav {
        display: flex;
        justify-content: space-around;
        .logoNav img{
            width: 3rem;
        }
        
    }
}
@media screen and (max-width:426px){
    body {
        font-size: 10px;
    }
    .logo {
        display:none;
    }
    .menu__icon, .logoNav{
        display: block;
    }
    
    nav{
        display: flex;
        justify-content: space-between;
        padding: 2rem;
        .menu__icon {
            font-size: 1.5rem;
            color: white;
            cursor: pointer;
            order: 2;
        }
        .menu {
            display: block;
            width: 100%;
            position: absolute;
            top: 60px;
            left: 0;
            background-color: $colorLogo;
            max-height: 0px;            
            overflow: hidden;
            transition: max-height 0.3s;
            .menu__desplegable {
                
                .arrow {
                    opacity: 0;
                }
                .menu__submenu {
                    position: relative;
                    top: 0;
                    padding: 0 10px;
                    .menu__submenu--item {
                        margin: 0;
                    }
                }
            }
    
        }
        .menu__btn:checked ~ .menu {
            max-height: 600px;
        }
        .logoNav img {
            width: 3rem;
        }
    }   
    
}