$bgSectionColor: #777a834d;
$bgTitulos: #43bda0;
$bgBody:#f6f5dd;
$colorLogo: #43bda0;
$tipografiaPrimaria: 'Quicksand', sans-serif;
$colorTextoTitulos: white;
$fontsizeTitulos:35px;
$fontsizeParrafos: 25px;