@import "partials";
* {
    margin:0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    font-family: $tipografiaPrimaria;
    
}
a:link, a:visited, a:active {
    text-decoration:none;
}
@import "header";
@import "footer";
/*------------------------------------------------------- Estilos de Index----------------------------------------------- */
body {
    width: 100%;
    margin: auto;
    background-color: $bgBody;    
}
@mixin titulos ($bgColor:$bgTitulos){
    text-align: center;
    color: $colorTextoTitulos;
    background-color: $bgColor;

}
@mixin paramain {
    padding-top: 10px; 
    background-color: $bgBody;
    margin: auto;
}
.main {
    @include paramain;
    
    .main__titulo--modtit {
        margin-top: 10px ;
       @include titulos;
    }
}
/* Seccion Banner */
.bannerhome{
    overflow: hidden;
    .bannerhome__tarjeta--tit {
        color: white;
        text-align: center;
        background-color: $bgSectionColor;
        width: 100%;
        height: 40px;
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
        }
    .bannerhome__tarjeta--img {
        width: 100%;
        border-top-left-radius:10px ;
        border-top-right-radius:10px ;
        }
    .bannerhome__tarjeta--img2 {
        width: 100%;
        border-radius: 10px;
    }
}
    
    
        

/* Seccion Nosotros */
.nos__titulo--modtit {
    @include titulos;
    margin: 0px;
}
.nos__contenedor {
    
   
    .nos__contenedor--animacion {
        background-color: $colorLogo;
        clip-path: polygon(50% 0%, 70% 0, 70% 0, 70% 0, 70% 0, 50% 20%, 30% 0, 30% 0, 30% 0, 30% 0);
        width: 400px;
        height: 400px;
        display: flex;
        justify-content: center;
        align-items: center;
        animation: vibracion 2s infinite;
    
        a{
            text-decoration: none;
            color: white;
            font-size: 25px;
            border: 2px solid white;
            font-weight: 800;
            border-radius: 10px;
        }
        a:hover {
            background-color: white;
            color: $colorLogo;
        }
        
    }
    .nos__contenedor--animacion:hover {

        animation: animadiv 3s 1 forwards;
    }
       
    .nos__contenedor--modp {
        width: 60vw;
        padding: 10px;
        background-color: $bgBody;
        text-align: justify;
        font-size:$fontsizeParrafos;
        color: $colorLogo;
        font-weight: 700;
    }
}
/* Seccion Redes */    
.redesig__titulo {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    background-color:$bgTitulos;
    margin-top: 10px;
    margin-bottom: 10px;git 
    .redesig__titulo--modtit {
        background-color: $bgTitulos;
        color: $colorTextoTitulos;
        padding-left: 15px;
    }
    .redesig__logo--modlogo {
        width: 60px;
        height: 60px;
        background-color:$bgTitulos;
    }
}
        
/* --------------------------------------------Estilos Productos------------------------------------------------------- */
$tipoProducto: ("cuadernoA4": url(../img/paginaProductos/CuadernoA4.jpg), "cuadernoA5": url(../img/paginaProductos/CuadernoA5.jpg), "pizarra" : url(../img/paginaProductos/libreria.jpg));

@each $producto, $url in $tipoProducto {
    .#{$producto} {
        background: $url;
        background-position: center;
        background-size: 600px;
    }
}
.producto {
    width: 100%;
    height: 80vh;
    margin-bottom : 10px;
    position: relative;
}
    
.contenedor {
    overflow: hidden;
    position: absolute;
    width: 600px;
    height: 600px;
    background-repeat: no-repeat;
    left: 50%;
    top: 10%;
    transform: translateX(-50%);
    @mixin pseudos {
        content: "";
        width: 100%;
        height: 300px;
        background-color: $bgSectionColor;
        position: absolute;
        transition: all 0.5s;
        z-index: 7;
    }
    &::before {
        @include pseudos;
        bottom: 100%;
    }
    &::after {
        @include pseudos;
        right: 0%;
        top: 100%;
    }
}
    
    
    
a:hover .contenedor::before {
    transform: scale(1) translateY(100%);
    }
a:hover .contenedor::after {
    transform: scale(1) translateY(-100%);
    }

a:hover span {
    opacity: 1;
}
span {
    position: relative;
    top: 45%;
    left: 12%;
    z-index: 6;
    opacity: 0;
    color: $colorTextoTitulos;
    font-size: 2rem;
    font-weight: bold;
    border: 2px solid white;
    z-index: 8;
    border-radius: 10px;
    &:hover {
        background-color: #fff;
        color: $colorLogo
    }

}

    .producto__titulo {
       @include titulos (pink);
       width: 230px;
       position: absolute;
       left: 25%;
       top: 12%;
       z-index: 4;
       border-radius: 5px;
       box-shadow: -4px 4px 11px 0px pink;
       
        .producto__titulo--modtit {
            font-size: 25px;
          }
    }
    .producto__imagen {
        position:absolute;
        left: 30%;
        bottom: 15%;
        z-index: 2;
        /* clip-path: polygon(0% 0%, 55% 25%, 100% 50%, 53% 78%, 0% 100%); */
        
    }
    
    
    .producto__descripcion {
        background-color: $colorLogo;
        width: 300px;
        position:absolute;
        color: white;
        font-weight: 800;
        font-size: 25;
        right: 20%;
        top: 70%;
        border-radius: 5px;
        box-shadow: -4px 4px 11px 0px $bgTitulos;
        z-index: 3;
        
        
    }



/* -----------------------Animaciones---------------------------------------------------------------------------------- */
@keyframes animadiv {
    0% {
        clip-path: polygon(50% 0%, 70% 0, 70% 0, 70% 0, 70% 0, 50% 20%, 30% 0, 30% 0, 30% 0, 30% 0);
    }
    
    100% {
        clip-path: polygon(50% 0%, 70% 0, 70% 30%, 70% 60%, 65% 100%, 50% 70%, 35% 100%, 30% 60%, 30% 30%, 30% 0);
    }
}

@keyframes vibracion {
    0% {
        clip-path: polygon(50% 0%, 70% 0, 70% 0, 70% 0, 70% 0, 50% 20%, 30% 0, 30% 0, 30% 0, 30% 0);
    }
   
    50% {clip-path: polygon(50% 0%, 100% 0, 100% 0, 70% 0, 50% 19%, 30% 0, 0 0, 0 0, 0 0);}

    100% {clip-path: polygon(50% 0%, 70% 0, 70% 0, 70% 0, 70% 0, 50% 20%, 30% 0, 30% 0, 30% 0, 30% 0);}
    
    
}